.details{
    width: 640px;
    background-color: #e6e6e6;
    padding: 40px;
    border-radius: 20px;
}
.form-container{
    margin: 50px 0;
    width: 640px;
    padding: 20px;
    background-color: #bbcaca;
}
