.list-container{
    background: #163e3b;
    color: #fff;
    text-align: center;
    
}

.recipient-table, .list-container{
    width: 500px;
}

.btn-container {
    display: flex;
    align-items: end;
    justify-content: end;
    padding-top: 44px;
  }

  .container {
    margin-top: 0px !important;
} 