.data-table tr {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid;
  width: 200px;
}

.title-name {
  font-size: 1.5rem;
  font-weight: 600;
}

p .subtitle {
  font-size: 1.3rem;
  font-weight: 400;
}

.card {
  .card-header {
    background-color: #013f3b;
    color: #fff;
    font-weight: 600;
  }
}

.account-heading {
  background-color: #e9ecef;
  padding: 10px 10px;
}

.width100 {
  width: 100%;
}

