.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title-text{
    font-size: 1.5rem;
    font-weight: 800;
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
}

.input {
  width: 40px;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  margin: 0 10px;
  text-align: center;
  font-size: 36px;
}

.input:focus {
  border-bottom: 3px solid orange;
  outline: none;
}

.btn{
    margin-right: 20px;
}

.alert-box-center {
  display: flex;
  justify-content: center;
}
